body{
  background-color: bisque;
}

.create{
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.create label{
  text-align: left;
  display: block;
}
h2{
  font-size: 20px;
  color: coral;
  margin-bottom: 30px;
}

.create input, textarea, select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
background: skyblue;
color: #fff;
border: 0;
border-radius: 8px;
cursor: pointer;
}